.store__title {
  font-family: "Kaushan Script", cursive;
  color: #ef7998;
  font-size: 64px;
  line-height: 60px;
  font-weight: 600;
  margin: 60px 0px 30px 0px;
  text-align: center;
}

.store__title--our {
  font-family: "Kaushan Script", cursive;
  color: #000000;
  font-size: 38px;
  font-weight: 500;  
}
