.banner__wrapper{
    display: flex;
   align-items: center;
    padding: 40px 100px;
    background-color: #ffffff;
   justify-content: center;
}

.banner{
    font-family: "Kaushan Script", cursive;
    font-weight: 700;
    font-size: 48px;
   text-align: center;
  
}

